<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../Assets/Styles/reset.css">
	<link rel="stylesheet" href="../Assets/Styles/Style.css">
	<link rel="short cut icon" href="../Assets/Iconos/256x256.png">
	<title>Hollow Knight - Inventario</title>
</head>
<body class="binventario">
	<div id="particles-js"></div>
	<header class ="tituloPrincipal">
		<img src="../Assets/Imagenes/Hollow-Knight-Logo-PNG-Blanco.png">
			<nav>
				<ul>
					<li><a href="index.html">&#x25cf Inicio &#x25cf</a></li>
					<li><a href="">&#x25cf Inventario &#x25cf</a></li>
					<li><a href="">&#x25cf Amuletos &#x25cf</a></li>
					<li><a href="">&#x25cf Diario del Cazador &#x25cf</a></li>
					<li><a href="">&#x25cf Mapa &#x25cf</a></li>
				</ul>
			</nav>
			
		</header>
	<main>
		<div class="tituloInventario">
			<h1>Invenatario</h1>
		</div>
        <div class="contenedor-inventario">

            <div class="arms">

                <div class="mascara" id="arms1"><a href=""><img src="../Assets/ImagenesInventario/Mascara.webp" alt=""> </a></div>
                <div class="vasija" id="arms1" > <a href=""><img src="../Assets/ImagenesInventario/Vasija.webp" alt=""></a></div>
                <div class="aguijononirico" id="arms1"> <a href=""><img src="../Assets/ImagenesInventario/AguijonOnirico.webp" alt=""></a></div>
                <div class="espada"><a href=""><img src="../Assets/ImagenesInventario/aguijon.webp" alt=""></a></div>

                <div class="powers">
                    <div class="sombras">
                        <div class="chillido" id="arms1"><a href=""><img src="../Assets/ImagenesInventario/alma.webp" alt=""></a></div>
                        <div class="salto" id="arms1"><a href=""><img src="../Assets/ImagenesInventario/Chillido.webp" alt=""></a></div>
                        <div class="espectro" id="arms1"><a href=""><img src="../Assets/ImagenesInventario/salto.webp" alt=""></a></div>
                    </div>
                    <div class="habilidades">
                        <div class="ciclon" id="arms1"> <a href=""><img src="../Assets/ImagenesInventario/ciclon.webp" alt=""></a></div>
                        <div class="corte" id="arms1"> <a href=""><img src="../Assets/ImagenesInventario/corte.webp" alt=""></a></div>
                        <div class="veloz" id="arms1"> <a href=""><img src="../Assets/ImagenesInventario/veloz.webp" alt=""></a></div>
                    </div>
                </div>
            </div>

            <div class="objetos">
				<div class="objetosh"><a href=""><img src="../Assets/ImagenesObjetos/CapaSOmbria.webp" alt=""></a></div>
				<div class="objetosh"><a href=""></a><img src="../Assets/ImagenesObjetos/garradeMantis.webp" alt=""></div>
				<div class="objetosh"><a href=""><img src="../Assets/ImagenesObjetos/corazondecristal.webp" alt=""></a></div>
				<div class="objetosh"><a href=""><img src="../Assets/ImagenesObjetos/alasdemonarca.webp" alt=""></a></div>
				<div class="objetosh"><a href=""><img src="../Assets/ImagenesObjetos/lagrimadeesmia.webp" alt=""></a></div>
				<div class="objetosh"><a href=""><img src="../Assets/ImagenesObjetos/linternalumena.webp" alt=""></a></div>
				<div class="objetosh"><a href=""><img src="../Assets/ImagenesObjetos/mapa.webp" alt=""></a></div>
				<div class="objetosh"><a href=""><img src="../Assets/ImagenesObjetos/mineralpalido.webp" alt=""></a></div>
				<div class="objetosh"><a href=""></a></div>
				<div class="objetosh"><a href=""></a></div>
				<div class="objetosh"><a href=""></a></div>
				<div class="objetosh"><a href=""></a></div>
				<div class="objetosh"><a href=""><img src="../Assets/ImagenesObjetos/reliquia.webp" alt=""></a></div>
				<div class="objetosh"><a href=""><img src="../Assets/ImagenesObjetos/reliquia1.webp" alt=""></a></div>
				<div class="objetosh"><a href=""><img src="../Assets/ImagenesObjetos/reliquia2.webp" alt=""></a></div>
				<div class="objetosh"><a href=""><img src="../Assets/ImagenesObjetos/reliquia3.webp" alt=""></a></div>
			</div>
            <div class="informacion">
				<h1>Información</h1>
				<h2>Objetos de Inventario</h2>
				<p>Cada uno te ayudará a pasar cada obstaculo y afrontar enemigos de una manera más épica <br><br>
				Puedes dar Click a cada uno para conocer más sobre ellos...</p>
			</div>

        </div>
	</main>
	<footer></footer>

	<!--PARTICULAS-->
	<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
	<script src="../Controller/js/app.js"></script>
</body>
</html>